<div class="main">
    <div class="left-side">
        <div class="image">
            <img src="../assets/image1.jpg" alt="">
        </div>
        <div class="menu-bar">
            <div class="links active">
                <p>home</p>
                <fa-icon [icon]="faHome"></fa-icon>
            </div>
            <div class="links">
                <P>about</P>
                <fa-icon [icon]="faInfoCircle"></fa-icon>
            </div>
            <div class="links">
                <p>experience</p>
                <fa-icon [icon]="faStar"></fa-icon>
            </div>
            <div class="links">
                <p>service</p>
                <fa-icon [icon]="faBriefcase"></fa-icon>
            </div>
            <div class="links">
                <p>portfolio</p>
                <fa-icon [icon]="faBriefcase"></fa-icon>
            </div>
            <div class="links">
                <p>contact</p>
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </div>
        </div>
        <div class="social-icons">
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faFacebook"></fa-icon>
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </div>
    </div>
    <div class="right-side"></div>
</div>
