.main{
    background-color: #fff;
    min-height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding-left: 6rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
.main > .left-side {
    display: flex;
    flex-direction: column;
    background-color: #504a4a;
    width: 18rem;
    position: fixed;
    height: 100vh;
}
.main > .left-side > .image{
    background-color: aliceblue
}
.main > .left-side > .image > img{
    width: 18rem;
    height: 10rem;
    margin-left: 2rem;
}
.main > .left-side > .menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.main > .left-side > .menu-bar > .links{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-top: 1px  solid #aaa;
}
.main > .left-side > .menu-bar > .links:hover{
    background-color: black;
}
.main > .left-side > .menu-bar > .links:hover p{
    color: #ff7e71;
}
.main > .left-side > .menu-bar > .links:hover > fa-icon{
    color: aliceblue;
}
.main > .left-side > .menu-bar > .links > p{
    text-transform: capitalize;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.main > .left-side > .menu-bar > .links > fa-icon{
    color: #ff7e71;
}
.main > .left-side > .menu-bar > .active{
    border: none;
}
.main > .left-side > .menu-bar > .active > p{
    color: #ff7e71;
}
.main > .left-side > .menu-bar > .active > fa-icon{
    color: aliceblue;
}
.main > .left-side > .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    gap: 2.5rem;
}
.main > .left-side > .social-icons >fa-icon{
    background-color: #ff7e71;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out .5s;
}
.main > .left-side > .social-icons >fa-icon:hover{
    color: #ff7e71;
    background-color: aliceblue;
}
.right-side {
    padding-right: 4rem;
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 20rem;
}
.right-side > .profile{
    margin-top: 3rem;
    background-color: aliceblue;
    width: 65vw;
    height: 70vh;
    border-radius: 1rem;
}
.right-side > .profile > .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side > .profile > .top > .left{
    margin-top: 5rem;
    flex: 3;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-side > .profile > .top > .left > h3{
    color: #ff6f61;
}
.right-side > .profile > .top > .left > h1{
    margin-top: -5px;
    text-transform: capitalize;
}

.typewriter {
    font-size: large;
    overflow: hidden;
    text-transform: capitalize;
    white-space: nowrap;
    animation: typing 0.5s steps(10) forwards;
    color: rgb(15, 207, 15);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

.right-side > .profile > .top > .right{
    flex: 1;
}
.right-side > .profile > .top > .right>img{
    margin-right: -4rem;
    height: 20rem;
}
.right-side > .profile > .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 4.5rem;
}
.right-side > .profile > .bottom > button{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: all ease .5s;
    text-transform: capitalize;
    gap: .5rem;
}
.right-side > .profile > .bottom > .resume-btn{
    background-color: #504a4a;
    color: aliceblue;
}
.right-side > .profile > .bottom > .resume-btn:hover{
    background-color: #000;
}
.right-side > .profile > .bottom > .hire-btn{
    background-color: #ff7e71;
    color: aliceblue;
}
.right-side > .profile > .bottom > .hire-btn:hover{
    background-color: #fa1803;
}
/* about section */
.about{
    background-color: aliceblue;
    width: 60.3vw;
    padding: 2rem;
    border-radius: 1rem;
}
.about > h1{
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
}
.about > .profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about > .profile > .image > img{
    height: 20rem;
}
.about > .profile >  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about > .profile >  .text > p{
    font-size: large;
    color: #aaa;
    font-family: sans-serif;
}
.about > .profile >  .text > .primary-btn{
    background-color: #000;
    width: 15rem;
    height: 3rem;
    color: aliceblue;
    margin-top: 1rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    border: none;
    transition: all ease .5s;
    text-transform: capitalize;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.about > .profile >  .text > .primary-btn:hover{
    transform: translateY(-10px);
}
.stripes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.stripes > .stripe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.stripes > .stripe > .text{
    font-size: large;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.stripes > .stripe:nth-child(1) > .text >p{
    margin-left: 19rem;
}
.stripes > .stripe:nth-child(2) > .text >p{
    margin-left: 15rem;
}
.stripes > .stripe:nth-child(3) > .text >p{
    margin-left: 20rem;
}
.stripes > .stripe:nth-child(4) > .text >p{
    margin-left: 17rem;
}
.stripes > .stripe > .bar{
    height: 10px;
    width: 25rem;
    border: 2px solid #ff7e71;
    border-radius: 5px;
}
.stripes > .stripe > .bar > .progress{
    background-color: #ff7e71;
    width: 22rem;
    height: 10px;
}
/* education section */
.education{
    padding: 1.5rem;
    width: 61vw;
    min-height: max-content;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.education > .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.education > .cards > .card{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 4px #666;
    padding: 1.5rem;
    border-radius: 15px;
}
.education > .cards > .card > .date{
    display: flex;
    align-items: center;
}
.education > .cards > .card > .date > p{
    color: #aaa;
    font-style: italic;
}
.education > .cards > .card > .date > small{
    color: #ff7e71;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
}
.education > .cards > .card > h2{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.education > .cards > .card > p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}